.home-page .pweets-list-container {
	margin-top: 20px;
}

.home-page .pweets-list-container ol {
	list-style: none;
}

.home-page .pweets-list-container .linky {
	margin-bottom: 20px;
}

.home-page .fetching-data-loading {
	min-width: 200px;
}
