.linky .media .image img {
	border-radius: 2px;
}

.linky .media-content {
	max-width: 88%;
}

.linky .media-content .content {
	overflow: hidden;
	text-overflow: ellipsis;
}

.linky .content p.linky-header {
	margin-bottom: 5px;
}

.linky .content .linky-description {
	font-style: italic;
}

.linky .url {
	font-size: 24px;
}

.linky .created-date {
	font-style: italic;
}

.linky .like-linky {
	margin-left: 5px;
}

.linky .like-linky:hover {
	cursor: pointer;
	border-radius: 5px;
	background-color: #00d1b2;
	color: #fff;
	font-size: 22px;
}
