body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.app a {
	color: #00d1b2;
}

.app a:hover {
	color: #00c4a7;
}

.app header {
	margin-top: 25px;
}

.app .main-content > section {
	padding-top: 30px;
}

/* Helpers */
.hidden {
	display: none;
}

.centered-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
