/* {
	container:                'react-autosuggest__container',
	containerOpen:            'react-autosuggest__container--open',
	input:                    'react-autosuggest__input',
	inputOpen:                'react-autosuggest__input--open',
	inputFocused:             'react-autosuggest__input--focused',
	suggestionsContainer:     'react-autosuggest__suggestions-container',
	suggestionsContainerOpen: 'react-autosuggest__suggestions-container--open',
	suggestionsList:          'react-autosuggest__suggestions-list',
	suggestion:               'react-autosuggest__suggestion',
	suggestionFirst:          'react-autosuggest__suggestion--first',
	suggestionHighlighted:    'react-autosuggest__suggestion--highlighted',
	sectionContainer:         'react-autosuggest__section-container',
	sectionContainerFirst:    'react-autosuggest__section-container--first',
	sectionTitle:             'react-autosuggest__section-title'
} */
.react-autosuggest__container {
	border: 0;
	border-radius: 3px;
	display: inline;
}

.react-autosuggest__container--open {
	border: none;
}

.react-autosuggest__input {
	width: auto;
	border: none;
	outline: none;
	margin-bottom: 5px;
}

.react-autosuggest__input--open {
	border: 0;
}

.react-autosuggest__input--focused {
	border: 0;
}

.react-autosuggest__suggestions-container {
	position: absolute;
}

.react-autosuggest__suggestion {
	padding-left: 5px;
	margin-top: 5px;
}

.react-autosuggest__suggestions-list {
	padding: 0 0 5px 0;
	font-size: 14px;
}

.react-autosuggest__suggestion {
	color: #00b89c;
    border: 1px dotted;
	padding-right: 7px;
	border-radius: 2px;
}

.react-autosuggest__suggestion--highlighted {
	background-color: #00b89c;
    border-color: transparent;
    color: #fff;
	padding-right: 7px;
	border-radius: 2px;
}
